@page "/"

<PageTitle>Lesson 25</PageTitle>

<h1>Lesson 25 - Using EF Core with Blazor</h1>

<p>
    Students will be able to:
</p>
<ul>
    <li>REGISTER an EF Core DbContext inside a Blazor Server app.</li>
    <li>CREATE a service class that uses EF Core for CRUD operations.</li>
    <li>INJECT a service into a Blazor component.</li>
    <li>DISPLAY data retrieved from EF Core inside a Blazor component.</li>
    <li>ADD new data to the database from a Blazor form.</li>
</ul>

<p>
    Must first install Microsoft.EntityFrameworkCore using Nuget Manager
    <pre>
        dotnet add package Microsoft.EntityFrameworkCore.Sqlite
    </pre>
</p>