<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Westwind.BlazorApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/samw-shippers" Match="NavLinkMatch.All">
                <i class="bi bi-search fs-5 me-2x" aria-hidden="true"></i>
                <span>Shipper Search</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center" href="/samw-shippers/manage">
                <i class="bi bi-pencil-square fs-5 me-2 " aria-hidden="true"></i>
                <span>Manage Shipper</span>
            </NavLink>
        </div>

    </nav>
</div>

