@page "/pokidex-form"
@using PokemonPractice.Data.Services
@using PokemonPractice.Data.Models

@inject PokemonService PokemonService

<h3>Pokemon Form Page</h3>

<EditForm Model="_formModel" OnValidSubmit="SaveAsync">
    <ValidationSummary />
    <DataAnnotationsValidator />

    <div class="mb-2">
        <label>Name:</label>
        <InputText @bind-Value="_formModel.Name" class="form-control" />
        <ValidationMessage For="@(() => _formModel.Name)" />
    </div>

    <button class="btn btn-primary" type="submit">
      Save Changes
    </button>
</EditForm>

@feedback

@code {
    private Pokemon _formModel = new Pokemon();
    // private Pokemon formModel = new();
    private string feedback = "";

    private async Task SaveAsync()
    {
        await PokemonService.AddPokemonAsync(_formModel.Name);
        feedback = $"Added Pokemon {_formModel.Name}";
        _formModel = new();
    }
}
