@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@{
    int fontSize = 10;
    for (int count = 1; count <= 10; count++)
    {
        string fontSizeString = (fontSize + count) + "px";
        if (count % 2 == 0)
        {
            <p style="font-size: @fontSizeString">@count I will not play games during class</p>
        }
        else
        {
            <p style="font-weight: 700; color: red">@count I will not play games during class</p>
        }
    }
}
