@page "/"

<PageTitle>Lesson 21 Demo App</PageTitle>

<h1>Routing and Navigation in Blazor</h1>

<p>Routing allows users to move between pages in a Blazor application without reloading the entire site. 

In this lesson, you will learn how to create pages, link them together, and pass parameters through the URL.

</p>
